$primaryColor: #FF4848;
$defaultBackground: #F4F5F9;
$defaultBoxShadow: 0 4px 15px rgba(0, 0, 0, 0.15);

$errorColor: #FF4F4F;

$defaultContentText: 14px 'PTSansCaption Regular';
$defaultContentBoldText: 14px 'PTSansCaption Bold';

$inDevelopingHintColor: #333;
$inDevelopingHintText: 24px 'PTSansCaption Bold';

$notSupportedScreenText: 18px 'PTSansCaption Bold';
$notSupportedScreenColor: #FFF;

$brandText: 28px 'PTSansCaption Bold';
$signInTitleText: 32px 'PTSansCaption Bold';
$signInputText: 24px 'PTSansCaption Bold';
$signSubmitText: 18px 'PTSansCaption Bold';

$navbarDefaultText: 12px 'PTSansCaption Bold';

$regionItemTitleText: 18px 'PTSansCaption Bold';

$addNewDataBackground: #46BE32;
$addNewDataShadow: 0 6px 20px rgba(70, 190, 50, 0.72);
$addNewDataFont: 26px 'PTSansCaption Bold';

$modalWindowTitleText: 18px 'PTSansCaption Bold';